<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Event CRUD</title>
</head>
<body>

<div th:replace="fragments/layout :: links"></div>

<h2>Add Events</h2>
<!-- Create Event Form -->
<form th:action="@{/api/events}" method="POST">
    <!-- Event Title -->
    <label for="eventTitle">Event Title:</label>
    <input type="text" id="eventTitle" name="eventTitle" required>

    <label for="eventDescription">Event Description:</label>
    <input type="text" id="eventDescription" name="eventDescription">

    <label for="eventTime">Event Time:</label>
    <input type="time" id="eventTime" name="eventTime" required>

    <label for="eventDate">Event Date:</label>
    <input type="date" id="eventDate" name="eventDate" required>

    <label for="eventDue">Event Due:</label>
    <input type="date" id="eventDue" name="eventDue" required>

    <label for="eventCategory">Choose a category:</label>
    <select name="eventCategory" id="eventCategory">
        <option th:each="category: ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
    </select>

    <!-- Add other fields as needed -->

    <button type="submit">Create Event</button>
</form>

</body>
</html>