<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Event CRUD</title>
</head>
<body>
<ul class="navibar">
    <li class="navibar"><a class="navibar" th:href="@{/events}">Home</a></li>
    <li class="navibar"><a class="navibar" th:href="@{/addevent}">Add Event</a></li>
    <li class="navibar"><a class="navibar" th:href="@{/addcategory}">Add Category</a></li>
</ul>

<h2>Add Events</h2>
<!-- Create Event Form -->
<form th:action="@{/events/create}" method="POST">
    <!-- Event Title -->
    <label for="eventTitle">Event Title:</label>
    <input type="text" id="eventTitle" name="eventTitle" required>

    <label for="eventDescription">Event Description:</label>
    <input type="text" id="eventDescription" name="eventDescription">

    <label for="eventDate">Event Date:</label>
    <input type="date" id="eventDate" name="eventDate" required>

    <label for="eventCategory">Choose a category:</label>
    <select name="eventCategory" id="eventCategory">
        <option th:each="category: ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
    </select>

    <!-- Add other fields as needed -->

    <button type="submit">Create Event</button>
</form>

</body>
</html>