<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event CRUD</title>
</head>
<body>

<ul class="navibar">
    <li class="navibar"><a class="navibar" th:href="@{/events}">Home</a></li>
    <li class="navibar"><a class="navibar" th:href="@{/addevent}">Add Event</a></li>
    <li class="navibar"><a class="navibar" th:href="@{/addcategory}">Add Category</a></li>
</ul>

<!-- Read All Events -->
<h2>Events</h2>
<table border="1">
    <thead>
    <tr>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Event Date</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display all events here -->
    <!-- Replace [EVENT_TITLE], [EVENT_DESCRIPTION], [EVENT_DATE], and [EVENT_TIME] with actual values -->
    <tr th:each="event: ${events}">
        <td th:text="${event.eventTitle}">[EVENT_TITLE]</td>
        <td th:text="${event.eventDescription}">[EVENT_DESCRIPTION]</td>
        <td th:text="${event.eventDate}">[EVENT_DATE]</td>
        <td>
            <span th:each="category: ${event.categories}">
                <span th:text="${category.categoryName}">[EVENT_CATEGORY]</span>
            </span>
        </td>
    <th>
        <button type="button">Edit</button>
        <form th:action="@{'/events/' + *{event.id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
        </form>
    </th>
    </tr>
    <!-- Add more rows for additional events -->
    </tbody>
</table>

</body>
</html>